[Unit]
Description=Laffie bot service

[Service]
Type=simple
WorkingDirectory=/home/laffie
ExecStart=/home/laffie/bin/tgbot -c config/tgbot.json

[Install]
WantedBy=default.target

